html {
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

main {
    min-height: 47vh;
    margin-bottom: 4rem;
}

input {
    padding: 8px;
    margin-bottom: 5px;
}

select {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

.button {
    background-color: var(--lilas);
    color: var(--white);
    box-shadow: rgb(0 0 0 / 70%) 2px 2px 5px;

    border-radius: 5px;
    margin: 0 10px;

    font-size: 1rem;
    font-weight: bold;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Estilos adicionais para o contêiner */
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
