.base {
    margin: auto;
    width: 80vw;
    margin-bottom: 4rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    padding: 20px;
    box-shadow: rgb(0 0 0 / 40%) 7px 9px 19px;
    border-radius: 5px;
}

.titulo {
    color: var(--lilas);
    font-weight: 700;

    margin: auto;
    margin-bottom: 5px;
}

.item {
    margin: 1rem auto;
}